dist: xenial

sudo: true

language: python

python:
  - "3.6"

services:
  - docker

before_install:
  - sudo apt-get install -y attr

install:
  - pip install -r requirements.txt

before_script:
  - docker pull docker.io/photon:2.0

script:
  - ./tern -l report -i photon:2.0
