# Copyright (c) 2019 VMware, Inc. All Rights Reserved.
# SPDX-License-Identifier: BSD-2-Clause

# Pull in the runtime dependencies
-r requirements.txt

# For development work, pull in dev support utilities
prospector==1.1.6.4
# For security linting, use Bandit
bandit==1.6.0

# For commit message linting in circleci we need GitPython
GitPython==2.1.11
