# Copyright (c) 2017-2020 VMware, Inc. All Rights Reserved.
# SPDX-License-Identifier: BSD-2-Clause
#
# Please only add direct dependencies here, i.e., do not update with the
# output of `pip freeze`.  When updating dependency versions, having the
# transitive dependencies listed make it more difficult to figure out
# what should be updated.

PyYAML>=5.3
docker~=4.3
dockerfile-parse~=1.0
requests~=2.24
stevedore>=3.2
pbr>=5.4
debut>=0.9
regex>=2020.7
